/* .show{
  opacity: 1;
  animation: all 1s ease-in;
}

.hide{
  opacity: 0;
  animation: all 1s ease-in;
} */

.hide{
  animation: hideItem 2s ease-in forwards;
}

.show{
  animation: showItem 2s ease-in forwards;
}


@keyframes showItem{
  0% {
    opacity: 1;
    color: red;
  }
  50% {
    opacity: 0.5;
    color: green;
  }
  100% {
    opacity: 1;
    color: blue;
  }
}

@keyframes hideItem{
  0% {
    opacity: 1;
    color: red;
  }
  50%{
      opacity: 0.5;
      color: green;
  }
  100% {
      opacity: 0;
      color: blue;
  }
}