body,h1{
  margin: 0;
  padding: 0;
}
body{
  height: 100vh;
}
.header{
  /* background-color: #efefef; */
  /* background-color: #6c80ec; */
			/* color: #FFF; */
      text-align: center;
      background: linear-gradient(180deg, #4c73e3, #6589f3);
}
.main{
	/* background-color: #666; */
	color: #fff;
	margin: 0 auto;
	width:80%;
	/* height: 700px; */
	/* text-align: center; */
}
			/* .foot{
				background-color: #000;
				color: #fff;
				margin: 0 auto;
				width:80%;
				height: 150px;
				text-align: center;
				
      } */
      
.carp{
    border: none; 
    width: 20%;
    background: linear-gradient(60deg, #537cee, #b9e2ed);
    padding: 25px;
    /* transition: all 1 ease-in-out; */
}

.carpIcon{
  width: 20%; 
  /* overflow: hidden; */
  position:absolute;
  top:0px;
  opacity: 1;
  transition: all 250ms linear;
}

.carpText{
  color: rgb(228 228 228);
  position: absolute;
  top: 25px;
  /* transition: all .5s ease-in-out; */
  transition: all 250ms linear;
  opacity: 0;
  height: 35px;
    overflow: hidden;
    line-height: 18px;
}

.carp:hover .carpText{
  top: 0px;
  opacity: 1;
}

.carp:hover  .carpIcon{
  opacity: 0;
}